<h1> Stupid Coaching </h1>
<h2> Ask your coach anything </h2>
<div class="form-group">
<form action="answer" data-turbo="false">
  <input class="btn btn-outline-secondary" type="text" name="answer">
  <input class="btn btn-outline-primary" type="submit" value="Ask!">
</form>
</div>
